@charset "UTF8";
* {height: 100%;}

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@keyframes id1 {
    to {
        transform: scale(1);
    }
    from {
        transform: scale(1);
        opacity: 0;
    }
}
@keyframes ligth {
    to {
        
    }
    from {
        transform: translateX(-65%);
        opacity: 0;
    }
}
@keyframes mark {
    50% {
        border-right-color: transparent;
    }
}
@keyframes write {
    0%{
        width: 0;
    }
}
    body {
        background-attachment: fixed;
        background-image: linear-gradient(180deg, #a6aeb6 0%, #838e9b 98%);
        font-family: "Chakra Petch", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align: left;
        margin-top: 0px;
        margin-left: 0px;
        }

    header {
        background-color: rgba(71, 71, 71, 0.034);
        width: auto;
        height: 100px;

        }

    .id1 {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.855);
        border-radius: 3px;
        box-shadow: 0px 0px 2px rgb(0, 0, 0);
        height: 220px;
        width: 5px;
        transform: translate(50% 50%);
        left: 230px;
        top: 384px;
        animation-name: id1;
        animation-duration: 2s;
        }

    .mensagem {
        display: block;
        color: rgba(77, 77, 77, 0.856);
        font-size: 24px;
        font-weight: 700;
        border-right: solid rgba(0, 0, 0, 0.855);
        white-space: nowrap;
        overflow: hidden;
        width: 41ch;
        animation: mark 0.9s infinite;
        animation: write 2s steps(40, end);
        }

    nav {
        background-color: rgba(71, 71, 71, 0.158); 
        color: rgb(59, 59, 59);
        height: 277px; 
        width: 15px;
        padding-top: 15px;
        padding-right: 30px;
        padding-left: 35px;
        border-radius: 100px;
        margin-inline: -20px;
        backdrop-filter: blur(5px);
        box-shadow: 0px 0px 13px #000e2494;
        left: 70px;
        top: 90px;
        position: absolute;
        transform: translate(70%, 90%);
        img {
            max-width: 42px;
            transition: 750ms;
            }
        img:hover {
            transform: scale(1.20);
            }
        }

    .container {
        position: absolute;
        display: flex;
        align-items: center;
        transform: translate();
        left: 1750px;
        top: 81px;
        height: 35px;
        width: 75px;
        background-color: rgba(71, 71, 71, 0.356);
        border-radius: 25px;
        backdrop-filter: blur(10px);
        box-shadow: 0px 0px 5px #00000094;
    }

    .container > div {
        background-color: rgba(248, 206, 21, 0.219);
        box-shadow: 0px 0px 7px rgba(248, 206, 21, 0.575);
        border-radius: 30px;
        position: absolute;
        left: 44px;
        height: 24px;
        width: 24px;
        animation-name: ligth;
        animation-duration: 1s;
        animation-play-state: var(ligth);

    }

    .container1 {
        position: absolute;
        display: flex;
        align-items: center;
        transform: translate();
        left: 1645px;
        top: 81px;
        height: 35px;
        width: 75px;
        background-color: rgba(71, 71, 71, 0.356);
        border-radius: 25px;
        backdrop-filter: blur(10px);
        box-shadow: 0px 0px 5px #00000094;
    }

    .container1 > div {
        background-color: azure;
        box-shadow: 0px 0px 7px rgba(37, 179, 1, 0.774);
        border-radius: 30px;
        position: absolute;
        left: 8px;
        height: 24px;
        width: 24px;
    }
    