@charset "UTF8";
* {height: 100%;}

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@keyframes id1 {
    to {
        transform: scale(1);
    }
    from {
        transform: scale(1);
        opacity: 0;
    }
}
@keyframes dark {
    to {
        transform: translateX(0px);
        opacity: 1;
    }
    from {
        transform: translateX(65%);
        opacity: 0;
    }
}
@keyframes mark {
    50% {
        border-color: transparent;
    }
}
@keyframes write {
    from{
        width: 0;
        opacity: 0;
    }
}
@keyframes scrolldown {
    to {
        transform: translateY(13px);
    }
}
@keyframes scroll {
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
    body {
        background-attachment: fixed;
        background-color: rgb(17, 17, 17);
    /*  background-image: linear-gradient(115deg, #000D28 20%,#220164 87%, #36029F 350%); */
        font-family: "Chakra Petch", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align: left;
        margin: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .page1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }
    .head {
        display: flex;
        top: 170px;
        position: absolute;
        width: 95vw;
        height: 0px;
        border-radius: 10px;
        background-color: rgba(143, 143, 143, 0.116);
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.363);
    }
    .line {
        position: absolute;
        background-color: rgb(207, 206, 206, 0.856);
        border-radius: 3px;
        box-shadow: 0px 0px 2px white;
        height: 210px;
        width: 3px;
        transform: translate(50% 50%);
        left: 350px;
        top: 381px;
        animation-name: id1;
        animation-duration: 2s;
    }

    .mensagem {
        display: block;
        position: absolute;
        font-size: 24px;
        font-weight: 700;
        border-right: 3px solid;
        white-space: nowrap;
        overflow: hidden;
        width: 44ch;
        animation: write 2s steps(40), mark 0.4s step-end infinite alternate;
    }

     nav {
        color: rgb(167, 166, 166);
        height: 277px; 
        width: 15px;
        padding-top: 15px;
        padding-right: 30px;
        padding-left: 35px;
        border-radius: 100px;
        margin-inline: -20px;
        position: absolute;
        backdrop-filter: blur(5px);

        left: 70px;
        top: 90px;
        transform: translate(70%, 90%);
        img {
            max-width: 42px;
            transition: 750ms;
            }
        img:hover {
            transform: scale(1.40);
            }
        }

    .down {
        animation: scrolldown 0.7s ease-in alternate infinite;
    }
    .tasks {
        top: 700px;
        left: 590px;
        display: flex;
        justify-content: center;
        width: 250px;
        height: 70px;
        background-color: #00CF7F;
    }
    .container {
        position: absolute;
        display: flex;
        align-items: center;
        transform: translate();
        left: 1750px;
        top: 81px;
        height: 35px;
        width: 75px;
        background-color: rgba(71, 71, 71, 0.356);
        border-radius: 25px;
        backdrop-filter: blur(10px);
        box-shadow: 0px 0px 5px #00000094;
    }

    .container > div {
        background-color: azure;
        box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.774);
        border-radius: 30px;
        position: absolute;
        left: 8px;
        height: 24px;
        width: 24px;
        animation: dark 1s forwards;
    }

    .container1 {
        position: absolute;
        display: flex;
        align-items: center;
        transform: translate();
        left: 1645px;
        top: 81px;
        height: 35px;
        width: 75px;
        background-color: rgba(71, 71, 71, 0.356);
        border-radius: 25px;
        backdrop-filter: blur(10px);
        box-shadow: 0px 0px 5px #00000094;
    }

    .container1 > div {
        background-color: azure;
        box-shadow: 0px 0px 7px rgba(37, 179, 1, 0.774);
        border-radius: 30px;
        position: absolute;
        left: 8px;
        height: 24px;
        width: 24px;
    }
    .page2 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 98.3vw;
        height: 100vh;
    }
    .habilidades {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fullskills {
        display: flex;
        justify-content: center;
        align-items: center;
        animation: scroll 1s;
        animation-timeline: scroll();
    }

    .skills1 {
        position: relative;
        display: flex;
        justify-content: center;
        left: -250px;
        top: -950px;
        width: 200px;
        height: 300px;
        border-radius: 25px;
        backdrop-filter: blur(15px);
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.507);
        background-color: rgba(71, 71, 71, 0.356);
        transition: 0.5s;
    }

    .skills1 .texte1 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 10px;
        font-size: 15px;
        opacity: 0;
        transition: 0;
    }

    .skills1:hover {
        width: 450px;
        height: 550px;
        background-color: #cfceceda;
        border: 3px solid #FF5722;

    }
    .skills1:hover .texte1 {
        opacity: 1;
    }

    .skills1 .imagemhtml {
        height: 80px; 
        margin-top: 20px;
        position: absolute;
        transition: 1.3s;
    }
    
    .skills2 {
        position: relative;
        display: flex;
        justify-content: center;
        left: 0px;
        top: -950px;
        width: 200px;
        height: 300px;
        border-radius: 25px;
        backdrop-filter: blur(15px);
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.507);
        background-color: rgba(71, 71, 71, 0.356);
        transition: 0.5s;
    }

    .skills2 .texte2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 10px;
        font-size: 15px;
        opacity: 0;
        transition: 0s;
    }

    .skills2:hover .texte2 {
        opacity: 1;
    }

    .skills2:hover {
        width: 450px;
        height: 550px;
        background-color: #cfceceda;
        border: 3px solid #2196F3;
    }

    .skills2 .imagemcss {
        height: 80px; 
        margin-top: 20px; 
        position: absolute;
    }

    .skills3 {
        position: relative;
        display: flex;
        justify-content: center;
        left: 250px;
        top: -950px;
        width: 200px;
        height: 300px;
        border-radius: 25px;
        backdrop-filter: blur(15px);
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.507);
        background-color: rgba(71, 71, 71, 0.356);
        transition: 0.5s;
    }

    .skills3 .imagemfigma {
        height: 80px; 
        margin-top: 20px; 
        position: absolute;
    }

    .skills3 .texte3 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 10px;
        font-size: 15px;
        opacity: 0;
        transition: 0s;
    }

    .skills3:hover {
        width: 450px;
        height: 550px;
        background-color: #cfceceda;
        border: 3px solid #00CF7F;
    }

    .skills3:hover .texte3 {
        opacity: 1;
    }